<logotypes>
    <div class="flex h-12">
                            <a
                    href="https://www.access-info.org/"
                    target="_blank"
                    title="Access Info Europe, ES"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/accessInfo-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://mojepanstwo.pl/"
                    target="_blank"
                    title="ePanstwo Foundation, PL"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/epanstwo-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://funky.ong/en/"
                    target="_blank"
                    title="Funky Citizens, RO"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/FunkyCitizens-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://k-monitor.hu/fooldal"
                    target="_blank"
                    title="K-Monitor, HU"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/KMonitor-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="http://www.open-contracting.org"
                    target="_blank"
                    title="Open Contracting Partnership, "
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/ocp-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="http://parliamentwatch.it/"
                    target="_blank"
                    title="Parliament Watch, IT"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/parliamentwatch-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://transparency.eu/"
                    target="_blank"
                    title="Transparency International EU, BE"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/tieu-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="http://www.transparency.lt"
                    target="_blank"
                    title="Transparency International Lithuania, LT"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/TILS-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://transparencia.pt/"
                    target="_blank"
                    title="Transparency International Portugal, PT"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/TIPT-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://openstate.eu/en/"
                    target="_blank"
                    title="Open State Foundation, NL"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/Open_State_Foundation_logo_tagline_en_transparent-1200x270-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="http://www.govtransparency.eu/"
                    target="_blank"
                    title="Government Transparency Institute, HU"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/AKKI_logo-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                            <a
                    href="https://www.informationsfreiheit.at/"
                    target="_blank"
                    title="Forum Informationsfreiheit, AT"
                    class="flex-shrink-0 h-12 mx-4"
            ><img
                    src="i/uploads/Logo_FOI-1-thumbnail.jpg"
                    class="flex-shrink-0 h-12"
            /></a>
                    </div>
</logotypes>